/* Gaya untuk seluruh halaman */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #2e6c43; /* Background hijau untuk seluruh halaman */
}

.content {
    flex: 1;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: #2e6c43;
    color: white;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.navbar img.logo {
    height: 50px;
    margin-right: 15px;
}

.navbar-title {
    font-size: 24px;
    color: white;
    margin: 0;
}

nav a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

/* Background hijau */
.hero {
    background-color: #7daf8e; /* Background hijau */
    color: white;
    text-align: center;
    padding: 100px 20px;
}

.hero-content {
    max-width: 600px;
    margin: auto;
}

.hero-content h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 18px;
    margin-bottom: 30px;
}

.btn-primary {
    background-color: #ffcc00;
    padding: 12px 30px;
    color: black;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}

.btn-primary:hover {
    background-color: #e6b800;
    transform: translateY(-5px);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}

/* Gaya untuk fitur */
.features {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 40px 20px;
    background-color: #2e6c43;
    gap: 20px;
}

.feature {
    text-align: center;
    flex: 1 1 calc(30% - 40px);
    background-color: #ffcc00;
    padding: 20px;
    border-radius: 10px;
    max-width: 300px;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.feature:hover {
    transform: translateY(-10px) rotate(1deg); /* Efek naik dan sedikit bergoyang */
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3); /* Bayangan lembut */
}

.feature h3 a {
    text-decoration: none;
    color: black;
    display: inline-block;
    font-weight: bold;
    font-size: 20px;
}

.feature p {
    font-size: 16px;
    margin-top: 10px;
}

/* Footer */
.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: auto;
}

.footer-content p {
    margin: 0;
    font-size: 14px;
}
